_site
.DS_Store

skbld_autogen/

*.egg-info/
dist/
build/
__pycache__/

#/devel/simplebuild/simplebuild_cache/
#/devel/simplebuild/autogen/

.ruff_cache/

/venv/

# Emacs:
*~
\#*\#
.\#*

#NOTE: Do not ignore "/copy/", it is used as a place where we can copy some
#      files to be tested by mcpldevtool checks, so it should NOT be in
#      .gitignore.
