    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">
          MCPL developed and maintained by <a href="https://github.com/tkittel">T. Kittelmann</a> and
          collaborators. More at <a href="{{ "/about" | prepend: site.baseurl }}">about MCPL</a>.
        </p>
        <p>Site last updated {{ site.time | date_to_string }} (<a href="{{site.github.repository_url}}/commit/{{site.github.build_revision}}">{{site.github.build_revision|truncate: 10,""}}</a>).
           <a href="{{site.github.repository_url}}/edit/gh-pages/{{ page.path }}">Edit page</a>.
           <a href="{{site.github.repository_url}}/commits/gh-pages/{{ page.path }}">Page history</a>.
        </p>
      </footer>
    </div>
