{% capture dummy %}
{%   assign dltag = "" %}
{%   if include.download == true %}
{%     assign dltag = ' download="bla.txt" ' %}
{%   endif %}
<a href="{{ include.file | prepend: "/raw/master/" | prepend: site.github.repository_url }}"{{dltag}}>{{include.file | split: "/" | last }}</a>
{% endcapture %}{{ dummy | strip_newlines | normalize_whitespace }}
<a href="{{ include.file | prepend: "/raw/master/" | prepend: site.github.repository_url }}"{{dltag}}>{{include.file | split: "/" | last }}</a>
