{% capture dummy %}
{% assign paperlink = "/mcpl_paper_draft_2016-09-06.pdf" |prepend: site.baseurl %}
{% assign linkname = "MCPL writeup" %}
{% if include.subsection != nil %}
{%   assign paperlink = paperlink |append: "#nameddest=subsection."|append: include.subsection %}
{%   assign linkname = linkname |append: " (section "|append: include.subsection|append: ")" %}
{% elsif include.section != nil %}
{%   assign paperlink = paperlink |append: "#nameddest=section."|append: include.section %}
{%   assign linkname = linkname |append: " (section "|append: include.section|append: ")" %}
{% endif %}
{% if include.linkname != nil %}
{%   assign linkname = include.linkname %}
{% endif %}
<a href="{{paperlink}}">{{linkname}}</a>
{% endcapture %}{{ dummy | strip_newlines | normalize_whitespace }}
