name: basictest

on:
  push:
  pull_request:
  schedule:
    - cron: '30 12 * * 1'  # 12:30 every Monday

jobs:
  mcpldevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

      - name: Pip install packages for mcpldevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt

      - name: mcpldevtool checks
        run: ./src/devel/bin/mcpldevtool check -n "fix""me"

  build:
    needs: [ mcpldevtool_check ]
    strategy:
      matrix:
        include:
          - { os: ubuntu-24.04-arm,  CC: gcc-12,   CXX: g++-12,     python: '3.13', buildtype: 'Release' }
          - { os: ubuntu-24.04-arm,  CC: gcc-14,   CXX: g++-14,     python: '3.8',  buildtype: 'Debug' }
          - { os: ubuntu-22.04,      CC: gcc-10,   CXX: g++-10,     python: '3.9',  buildtype: 'Release' }
          - { os: ubuntu-latest,     CC: gcc-14,   CXX: g++-14,     python: '3.10', buildtype: 'Debug' }
          - { os: ubuntu-latest,     CC: clang,    CXX: clang++,    python: '3.11', buildtype: 'Debug' }
          - { os: ubuntu-latest,     CC: gcc-12,   CXX: g++-12,     python: '3.12', buildtype: 'Release' }
          - { os: ubuntu-latest,     CC: gcc,      CXX: g++,        python: '3.13', buildtype: 'Release' }
          - { os: macos-latest,      CC: clang,    CXX: clang++,    python: "3.12", buildtype: 'Release' }
          - { os: macos-15-intel,    CC: clang,    CXX: clang++,    python: "3.11", buildtype: 'Release' }
    name: ${{ matrix.os }}.${{ matrix.CC }}.python-${{ matrix.python }}-${{ matrix.buildtype }}
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.CC }}
      CXX: ${{ matrix.CXX }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: src

    - name: Setup python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python }}

    - name: Enable parallel cmake
      run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

    - name: pip install deps
      run: pip install -r ./src/devel/reqs/requirements_devel.txt

    - name: Configure CMake
      run: >
        cmake
        -S ./src
        -B ./build
        "-DCMAKE_BUILD_TYPE=${{ matrix.buildtype }}"
        "-DCMAKE_INSTALL_PREFIX=./install"
        -DMCPL_ENABLE_TESTING=ON
        -DMCPL_BUILD_STRICT=ON
        -DMCTOOLS_REQUIRE_ALL_TEST_DEPS=ON

    - name: Build
      run: cmake --build ./build --config ${{ matrix.buildtype }}

    - name: CTest
      run: ctest --test-dir ./build --build-config ${{ matrix.buildtype }} --no-tests=error --output-on-failure --test-output-size-failed 100000 --test-output-truncation middle

    - name: Install
      run: cmake --install ./build --config ${{ matrix.buildtype }}

    - name: Run mcpl-config
      run: ./install/bin/mcpl-config -s

    - name: Run mcpltool
      run: ./install/bin/mcpltool --help

    - name: Setup environment
      run: |
        test -f ./install/bin/mcpl-config
        test -f ./install/bin/mcpltool
        test -d ./install/lib
        echo "PATH=$PWD/install/bin:$PATH" >> $GITHUB_ENV
        echo "LD_LIBRARY_PATH=$PWD/install/lib:${LD_LIBRARY_PATH}" >> $GITHUB_ENV
        echo "DYLD_LIBRARY_PATH=$PWD/install/lib:${DYLD_LIBRARY_PATH}" >> $GITHUB_ENV

    - name: Run mcpl-config
      run: mcpl-config -s

    - name: Run mcpltool
      run: mcpltool --help

    - name: Cfg downstream
      #For fun, always use Release config here, to test that it works even if
      #using a different build type than mcpl itself:
      run: cmake -S ./src/examples/downstream_cmake -B ./build_ds -DCMAKE_INSTALL_PREFIX=./install_ds -DCMAKE_BUILD_TYPE=Release

    - name: Build downstream
      run: cmake --build ./build_ds

    - name: Install downstream
      run: cmake --install ./build_ds

    - name: Run downstream
      run: ./install_ds/bin/testapp ./src/examples/example.mcpl
