name: basictest_pip

on:
  push:
  pull_request:

jobs:
  mcpldevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: src
      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel
      - name: Pip install packages for mcpldevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt
      - name: mcpldevtool checks
        run: ./src/devel/bin/mcpldevtool check -n "fix""me"

  build:
    needs: [ mcpldevtool_check ]
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest, windows-11-arm, ubuntu-24.04-arm, macos-13 ]
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: src

    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Enable parallel cmake
      run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

    - name: pip install of mcpl-core
      run: python3 -m pip install -v  ./src/mcpl_core

    - name: mcpl-config summary
      run: mcpl-config --summary

    - name: mcpltool
      run: mcpltool ./src/examples/example.mcpl

    - name: Check client C/CXX standards (cfg)
      run: cmake -S "./src/devel/misc/test_standards" -B bldstd

    - name: Check client C/CXX standards (build)
      run: cmake --build bldstd --config Debug -v

    - name: Check client C/CXX standards (ctest)
      run: ctest --test-dir bldstd --build-config Debug

    #Enable cl.exe usage:
    - name: Setup VS in shell
      if: runner.os == 'Windows' && matrix.os != 'windows-11-arm'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Setup VS in shell
      if: runner.os == 'Windows' && matrix.os == 'windows-11-arm'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: arm64


    - name: Test downstream compilation and build flags
      if: runner.os == 'Windows'
      shell: cmd
      run: |

        echo "Set BUILDFLAGS variable via mcpl-config --show buildflags"
        if %errorlevel% neq 0 exit /b %errorlevel%
        mcpl-config --show buildflags > buildflags.txt
        if %errorlevel% neq 0 exit /b %errorlevel%
        set /p BUILDFLAGS=<buildflags.txt
        if %errorlevel% neq 0 exit /b %errorlevel%
        echo "Got:" %BUILDFLAGS%
        if %errorlevel% neq 0 exit /b %errorlevel%

        echo "Copying C example"
        if %errorlevel% neq 0 exit /b %errorlevel%
        copy .\src\examples\example_writemcpl.c my_c_code.c
        if %errorlevel% neq 0 exit /b %errorlevel%

        echo "Compiling C code"
        cl my_c_code.c %BUILDFLAGS%
        if %errorlevel% neq 0 exit /b %errorlevel%
        echo "Custom compilation of downstream C code succeeded"

        echo "Running C app"
        my_c_code.exe "bla.mcpl"
        if %errorlevel% neq 0 exit /b %errorlevel%
