name: encodings

on:
  push:
  pull_request:
  schedule:
    - cron: '30 12 * * 1'  # 12:30 every Monday

jobs:
  mcpldevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

      - name: Pip install packages for mcpldevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt

      - name: mcpldevtool checks
        run: ./src/devel/bin/mcpldevtool check -n "fix""me"

  build:
    needs: [ mcpldevtool_check ]
    strategy:
      matrix:
        include:
          - { os: ubuntu-24.04-arm,  CC: gcc-12,   CXX: g++-12,     python: '3.13', buildtype: 'Release' }
          - { os: ubuntu-24.04-arm,  CC: gcc-14,   CXX: g++-14,     python: '3.8',  buildtype: 'Debug' }
          - { os: ubuntu-22.04,      CC: gcc-10,   CXX: g++-10,     python: '3.9',  buildtype: 'Release' }
          - { os: ubuntu-latest,     CC: gcc-14,   CXX: g++-14,     python: '3.10', buildtype: 'Debug' }
          - { os: ubuntu-latest,     CC: clang,    CXX: clang++,    python: '3.11', buildtype: 'Debug' }
          - { os: ubuntu-latest,     CC: gcc-12,   CXX: g++-12,     python: '3.12', buildtype: 'Release' }
          - { os: ubuntu-latest,     CC: gcc,      CXX: g++,        python: '3.13', buildtype: 'Release' }
          - { os: macos-latest,      CC: clang,    CXX: clang++,    python: "3.12", buildtype: 'Release' }
          - { os: macos-15-intel,    CC: clang,    CXX: clang++,    python: "3.11", buildtype: 'Release' }
    name: ${{ matrix.os }}.${{ matrix.CC }}.python-${{ matrix.python }}-${{ matrix.buildtype }}
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.CC }}
      CXX: ${{ matrix.CXX }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        path: src

    - name: Setup python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: ${{ matrix.python }}

    - name: Enable parallel cmake
      run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

    - name: pip install deps
      run: pip install -r ./src/devel/reqs/requirements_devel.txt

    - name: Make test dirs
      run: mkdir ./testdir_pymcpltool ./testdir_enc

    - name: Standalone pymcpltool
      working-directory: ./testdir_pymcpltool
      run: python ../src/mcpl_python/src/mcpl/mcpl.py ../src/examples/example.mcpl

    - name: Standalone pymcpltool
      working-directory: ./testdir_pymcpltool
      run: python ../src/mcpl_python/src/mcpl/mcpl.py --stats ../src/examples/example.mcpl

    - name: Run encoding test
      working-directory: ./testdir_enc
      run: ../src/devel/misc/test_encodings.x | tee output.log

    - name: Check encoding test output
      working-directory: ./testdir_enc
      run: diff ../src/devel/misc/test_encodings.log output.log

