name: fixme

on:
  push:
  pull_request:
  schedule:
    - cron: '47 18 * * 0'  # 18:47 every Sunday
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Setup python
      uses: actions/setup-python@v6.1.0
      with:
        python-version: '3.13'

    - name: checks
      run: ./devel/bin/mcpldevtool check "fix""me"
