name: freebsd

on:
  push:
  pull_request:
  schedule:
    - cron: '30 18 * * 0'  # 18:30 every Sunday

jobs:
  mcpldevtool_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          path: src
      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel
      - name: Pip install packages for mcpldevtool
        run: pip install -r ./src/devel/reqs/requirements_devel.txt
      - name: mcpldevtool checks
        run: ./src/devel/bin/mcpldevtool check -n "fix""me"

  ctest:
    needs: [ mcpldevtool_check ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

      - name: FreeBSD
        uses: cross-platform-actions/action@v0.30.0
        with:
          environment_variables: CMAKE_BUILD_PARALLEL_LEVEL CTEST_PARALLEL_LEVEL
          operating_system: freebsd
          #Increase "memory" from 6G to 10G for bigfile ctests:
          #memory: 10G
          version: '14.2'
          run: |
            df -h
            #Due to limited VM disk space, do not run tests in parallel (the
            #bigfile tests involve huge intermittent files):
            export CTEST_PARALLEL_LEVEL=1
            echo "CMAKE_BUILD_PARALLEL_LEVEL=${CMAKE_BUILD_PARALLEL_LEVEL}"
            echo "CTEST_PARALLEL_LEVEL=${CTEST_PARALLEL_LEVEL}"
            sudo pkg install -y cmake python3 py311-numpy py311-matplotlib py311-pyyaml ruff
            df -h
            sudo pkg autoremove -y
            df -h
            sudo pkg clean -a -y
            df -h
            ./src/devel/bin/mcpldevtool check -n "fix""me"
            cmake -S ./src -B ./build -DCMAKE_BUILD_TYPE=Release -DMCPL_BUILD_STRICT=ON -DMCPL_ENABLE_TESTING=ON -DMCTOOLS_REQUIRE_ALL_TEST_DEPS=ON
            cmake --build ./build --config Release
            df -h
            ctest --test-dir ./build --build-config Release --no-tests=error --output-on-failure --test-output-size-failed 100000 --test-output-truncation middle

  pipinst:
    needs: [ mcpldevtool_check ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          path: src

      - name: Enable parallel cmake
        run: python ./src/devel/bin/mcpldevtool nprocs --enable-github-parallel

      - name: FreeBSD
        uses: cross-platform-actions/action@v0.30.0
        with:
          environment_variables: CMAKE_BUILD_PARALLEL_LEVEL CTEST_PARALLEL_LEVEL
          operating_system: freebsd
          version: '14.2'
          run: |
            echo "CMAKE_BUILD_PARALLEL_LEVEL=${CMAKE_BUILD_PARALLEL_LEVEL}"
            echo "CTEST_PARALLEL_LEVEL=${CTEST_PARALLEL_LEVEL}"
            sudo pkg install -y cmake python3 py311-pip py311-numpy py311-matplotlib py311-pyyaml py311-setuptools py311-wheel py311-scikit-build-core ruff
            #Make sure pip --user bin dir is in PATH:
            PATH="/home/runner/.local/bin:${PATH}"
            export PATH
            echo "PATH IS NOW: ${PATH}"
            ./src/devel/bin/mcpldevtool check -n "fix""me"
            python3 -mpip install --user ./src/mcpl_python
            python3 -mpip show mcpl-python
            ls -l /home/runner/.local/bin
            which pymcpltool
            pymcpltool ./src/examples/example.mcpl
            python3 -mpip check
            python3 -mpip install --user -v ./src/mcpl_core
            python3 -mpip show mcpl-core
            python3 -mpip check
            mcpltool -h
            mcpltool ./src/examples/example.mcpl
            python3 -mpip install --user --no-build-isolation ./src/mcpl_metapkg
            python3 -mpip show mcpl
            python3 -mpip check
            python3 -mpip install --user scikit_build_core ./src/mcpl_extra --no-build-isolation
            mcpl2phits ./src/examples/example.mcpl foo.dmp
            phits2mcpl foo.dmp foo.mcpl
            mcpltool foo.mcpl.gz
